.liter-regular {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
  }

  .cc-navbar{
    background-color: rgba(0,0,0, 0.55);
    font-family: "Liter", serif;
    box-shadow: 1px,1px,3px rgba(255,255,255,0.54);
    z-index: 99;
  }

  .cc-navbar .nav-link{
    border-bottom:1px solid transparent ;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease
  }

  .cc-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-color: #20c997;
  }

  .banner,
  .order-form {
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("../IMG/image-pricipale.jpg") center center fixed no-repeat;
    background-size: cover;
    height: 800px;
  }

  .banner .banner-desc{
    font-size: 48px;
    font-weight: 400;
    color: #fff;
  }
  .btn-order{
    color: #20c997;
    border-color:#20c997;
    transition:0.5s;
  }

  .btn-order:hover,
  .btn-order:active{
    color:#fff;
    background-color: #20c997;
  }

  .cc-menu{
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("../IMG/chef-3975835_1280.jpg") center center fixed no-repeat;
    background-size: cover;
    height: 100%;
  }

  .order{
    color: #20c997;
  }